/* we don't want browser default css settings on root of tree*/

:root { font: 20px/1.2 "Roboto", sans-serif; } 

/* apply properties to body and all of its children (e.g. paragraph) */
body,
body * {
    margin:             unset;
    box-sizing:         unset;
    padding:            unset;
    font-size:          unset;
    color:              unset;
    text-decoration:    unset;

}