/* we don't want browser default css settings on root of tree*/

:root { font: 20px/24px "Roboto", sans-serif; } 

/* apply properties to body and all of its children (e.g. paragraph) */
body,
body * {
    margin:             unset;
    box-sizing:         unset;
    padding:            unset;
    font-size:          unset;
    color:              unset;
    text-decoration:    unset;

}

/* for a child of a figure (e.g. our img) we set a block: will cause to force other objects within a container on to a new line (i.e. will stack vertically)*/
figure * { display: block; }